{% extends 'base.html' %}



  <head>
    {% load static %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Homepage</title>
    {% block content %}  
    <style>
      .carousel-inner img {
        width: 100%;
        height: 100%;
      }
  
      button{
        display: inline-block;
        padding: 15px 35px;
        font-size: 26px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
      }
      .carousel-caption{
        top: 50%;
        transform: translateY(-50%);
        bottom: initial;
      }
  
      .h2{
        font-family: sans-serif;
      }

      h1 {
        font-size: 100px;
      }

      .column {
        float: left;
        width: 45%;
        padding: 5px;
      }

      /* Clearfix (clear floats) */
      .row::after {
        width: 100%;
        display: table;
      }

      /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 500px) {
        .column {
          width: 100%;
        }
      }
      
      </style>
    
  </head>

 
  <body>
        
        <div id="demo" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://imageio.forbes.com/specials-images/imageserve/627377858/0x0.jpg?format=jpg&width=1200" alt="pic1" width="1100" height="200">
              <div class="container center-block"> 
              <div class="carousel-caption">
                <h1>Sports News PBP</h1>
                {% if user.is_authenticated %}
                  <h2 class="display-4" >Welcome {{ user.username }}!</h2>
                  <button class="button" style="background-color: red;"><a style="color: #fff;"href="/logout"> Sign out</a></button>
                {% else %}
                  <h2 class="display-4">Welcome Guest!</h2>              
                  <button class="button"><a style="color: #fff;"href="/login"> Sign in</a></button>
                {% endif %}
              </div>  
              </div> 
            </div>
            <div class="carousel-item">
              <img src="https://www.tsn.ca/polopoly_fs/1.1455754!/fileimage/httpImage/image.jpg_gen/derivatives/landscape_620/manchester-city.jpg" alt="pic2" width="1100" height="200">
              <div class="carousel-caption">
                  <h2 class="display-4" ><a href="/scoreboard" style="color: #fff">See live match results!</a></h2>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://i.eurosport.com/2021/07/05/3167906-64913568-2560-1440.jpg" alt="New York" width="1100" height="200">
              <div class="carousel-caption">
                <h2 class="display-4" ><a href="/forums" style="color: #fff">Discuss all things related to football!</a></h2>
            </div>
            </div>
          </div>
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        <br>

       <div>
        <h4 class="display-4" ><a href="/scoreboard" style="color: black">Scoreboard</a></h4>
         <br>
          <ul class="indent-2">
            <div class="card-columns">
              {% for score in scoreboard %}
                <div class="card" style="width: 18rem;">
                  <div class="text-white text-center">
                    {% if score.score_1 == score.score_2 %}
                      <h5 class="card-header bg-secondary">[{{ score.score_1 }}] - [{{ score.score_2 }}]</h5>
                    {% else %}
                      {% if score.score_1 > score.score_2 %}
                        <h5 class="card-header bg-success">[{{ score.score_1 }}] - [{{ score.score_2 }}]</h5>
                      {% else %}
                        <h5 class="card-header bg-danger">[{{ score.score_1 }}] - [{{ score.score_2 }}]</h5>
                      {% endif %}
                    {% endif %}
                  </div>
                  <div class="text-center">
                    <div class="card-body">
                      <p class="card-text">{{ score.team_1 }} vs {{ score.team_2 }}</p>
                    </div>
                    <p class="card-footer text-muted">{{ score.date }}</p>
                  </div>
                </div>
                <br>
              {% endfor %}
            </div>
          </ul>
        </div>

        <div>
          <br>
          <h4 class="display-4" ><a href="/news" style="color: black">News</a></h4>
           <br>
        <div class="indent-2">
          <div class="card-columns">
            {% for article in articles %}
              <div class="card" style="width: 35rem;">
                <h5 class="card-header text-center">
                  {{ article.title }}
                </h5>
                <div class="card-body text-justify">
                  {{ article.author }}
                  <br>
                  <br>{{ post.content }}
                </div>
                <div class="card-footer text-muted text-center">
                  {{ article.date }}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        </div>

        <div class="row">
          <div class="column">
            <img src="https://elevennewyork.com/wp-content/uploads/2018/09/kylian-mbappe-e1600196591867.gif" width="100%" >
          </div>
          <div class="column">
            <h2 style="padding-top: 100px;">
              <a href="https://www.elevennewyork.com/journal/kylian-mbappe-the-french-phenomenon/">
              Kylian Mbappé<br>
              The French <br>
              Phenomenon</a>
          </h2>
          <div>
            <div class="wpb_wrapper" style="padding-top: 50px;">
              <p>If you were to build a talent from scratch—a kind of superhuman football prodigy—you’d probably start with the genes. 
                        Give the kid a father who’s an ex-footballer and now a coach, and a mother who has played, say, professional handball. 
                        Place him in one of the hotspots for youth development, like the suburbs of Paris. 
                        Make him mature, disciplined and obsessed with self-improvement. Then let him play for a local club and watch him fly.
                    </p>
            </div>
          </div>
              <div class="nm_btn_align_left">
                <a href="https://elevennewyork.com/journal/kylian-mbappe-the-french-phenomenon/" class="nm_btn nm_btn_md nm_btn_border" title="Kylian Mbappé: The French Phenomenon">
                  <span class="nm_btn_title">Read More</span>
                  <span class="nm_btn_bg"></span>
                </a>
              </div>
              </div>
        </div>
        
 
  </body>
  {% endblock %}
  